@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "AddFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddFeature", "Feature", FormMethod.Post))
{
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label >İlk Kısım</label>
                            <input type="text" class="form-control" placeholder="İlk Kısım" name="Header">
                        </div>
                        <div class="form-group">
                            <label >Adı </label>
                            <input type="text" class="form-control"  placeholder="Adı" name="Name">
                        </div>
                        <div class="form-group">
                            <label >Başlık</label>
                            <textarea class="form-control" rows="4" placeholder="Başlık Giriniz" name="Title"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                        <a href="/Feature" class="btn btn-dark">İptal</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


