
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!--sa-->
@await Html.PartialAsync("/Views/Dashboard/_AdminHeadPartial.cshtml")
<body>
    <div class="container-scroller">
        <!-- partial:~/corona-free-dark-bootstrap-admin-template-1.0.0/template/partials/_sidebar.html -->
        @await Html.PartialAsync("/Views/Dashboard/_AdminSidebarPartial.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:~/corona-free-dark-bootstrap-admin-template-1.0.0/template/partials/_navbar.html -->
            @await Html.PartialAsync("/Views/Dashboard/_AdminNavbarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                 @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:~/corona-free-dark-bootstrap-admin-template-1.0.0/template/partials/_footer.html -->
                @await Html.PartialAsync("/Views/Dashboard/_AdminFooterPartial.cshtml")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @await Html.PartialAsync("/Views/Dashboard/_AdminScriptsPartial.cshtml")
    @RenderSection("ExtraScripts", required: false)
</body>
</html>
